/* Tag adjustments*/ 
html, body{
    width: auto;
    height: auto; /*Change for size change in height*/
    min-height: 650px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-bottom: 26px;
    transition: all 1s ease-in-out 0s;
}

header{
    width: auto;
    height: 0px;
}

nav{
    width: 100%;
    flex: 0 1 70px;
    background-color: #2699FB;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    transition: all 1s ease-in-out 0s;
    display: flex;
    border-top: #ffffff solid 0px;
    border-bottom: #ffffff solid 10px;
    min-width: 220px;
}

main{
    width: auto;
        min-width: 220px;
    flex: 1 1 auto;
    background-color: transparent;
    position: static;
    padding: 26px;
    transition: all 1s ease-in-out 0s;
}

section {
    width: 100%;
    height: auto;
    background-color: transparent;
    transition: all 1s ease-in-out 0s;
    min-width: 220px;
}

footer{
    width: auto;
    flex: 0 1;
    background-color: #7FC4FD;
    min-width: 220px;

}

div{
    padding: 0px
}

button{
    width: 100%;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    color: #ffffff;
}

figure{
    margin: 0px;
}

img{
    width: 100%;
    height: 100%;
}

/* Bootstrap class adjustments*/
.container{
    width: auto;
        min-width: 220px;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-image: url("/Assets/IS-Background.png");
        background-repeat: repeat;
        background-size: cover;
        background-position: left;
    transition: all 1s ease-in-out 0s;
    
}

.py-4{
    padding: 0px !important;
}

.row, .col-lg-6, .col-6, p, .col-12, .col-lg-12, .col-md-5, .col-md-7,.col-sm-4, .col-xl-4, .col-xl-3, .dropdown, .w-100{
    padding: 0px;
    margin: 0px;
    position: static;
}

.nav-link{
    padding: .25rem .5rem !important;
}

.col-md-1{
    visibility: visible;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-backdrop.show{
    opacity: .8;
}
.modal-dialog-centered{
    align-items: flex-start;
}

.w-100{
    max-height: 600px;
}

/* navbar - main logo - container*/
.n-ml-c{
    padding: 2.5px 40px 2.5px 26px;
    transition: all 1s ease-in-out 0s;
    opacity: 100%;
}

/* navbar- main logo - container - image*/
nav div button img{
    max-height: 65px;
    
}

/* navbar - options - contianer*/
.n-o-c{
    display: flex;
    transition: all 1s ease-in-out 0s;
    opacity: 100%;
}

/* navbar - options - container - items*/
.n-o-c-i{
    padding-right: 40px ;
}

/* navbar - menu - container*/
.n-m-c{
    padding-right: 26px;
}

/* navbar - icons*/
.n-i{
    height: 18px;
}

/* navbar - dropdown - search - container*/
.n-d-s-c{
    height: 25px;
    padding-left: 15px !important;
    padding: 4px 0px;
    border-radius: 20px;
    border: none;
}

/* navbarNavAltMarkup list items container*/
#navbarNavAltMarkup{
    position: absolute;
    margin-top: 70px;
    background-color: #2699FB;
    width: 100%;
}

/* navbarNavAltMarkup list items*/
#navbarNavAltMarkup div a{
    color: #ffffff;
}

/**/
.cotLbls{
    width: 100%;
    color: white;
    transition: all .3s ease-in-out 0s;
}

.cotInput{
    width:100%;
    margin-bottom: 16px;
    transition: all .3s ease-in-out 0s;
    border-radius: 20px;
    border: none;
}

.calendario-c{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out 0s;
}

.calendario{
    width: 100%;
    height: 100%;
    background-color: orange;
    transition: all .3s ease-in-out 0s;
}

.cot-serv-btn{
    transform: translate3d(0px, 58px, 0px) !important;
    width: 100%;
    transition: all 1s ease-in-out 0s;
}

.cot-serv-cant-btn{
    transform: translate3d(0px, 58px, 0px) !important;
    left: -105px !important;
    width: 100%;
    transition: all 1s ease-in-out 0s;
}

#cont-serv-cant-text{
    width: 100%;
    transition: all 1s ease-in-out 0s;
}

.cot-s{
    visibility: collapse;
    height: 0px;

}

.cot-s1{
    visibility: visible;
    height: 38px;
    transition: all .2s ease-in-out 0s;
}

.cot-new-serv-add{
    padding: 5px 0px;
    margin: 16px 0px;
    background-color: white;
    color: #2699FB;

}

.cot-new-serv-rem{
    padding: 0px !;
    margin: 0px;
    height: 0px;
    visibility: collapse;
    background-color: white;
    color: #2699FB;
}

#cot-btn-cotizar{
    background-color: white;
    color: #2699FB;
    border-radius: 20px;
    padding: 5px 0px;
    margin-top: 16px;
}
/**/



/* footer - contenedor - superior*/
.ft-c-s{
    width: auto;
    height: auto;
    background-color: #7FC4FD;
    transition: all 1s ease-in-out 0s;
    margin: 26px;
    font-size: small;
    color: #ffffff;
}

/* header superior - h5 */
.hs{
    margin: 1rem 0rem;
}

.hs h6{
    width: 100%;
    margin: .5rem 0rem;
}

/* header superior - p*/
.hs p{
    padding-top: 10px;
}

/* .ft-c-s .dir*/
.dir{
    
    width: 100%;
}

/* .ft-c-s .db-num*/
.db-num{
    padding-top: 30px;
}

#ftcsArrowContainer{
    height: auto;
}

#ftcsArrowContainer button{
    height: 0px;
    max-width: 26px;
}

#ftcsArrow{
    max-width: 26px;
    height: auto;
}


/* footer - contenedor - inferior*/
.ft-c-i{
    width: auto;
    height: 50px;
    background-color: #2699FB;
    transition: all 1s ease-in-out 0s;
}

.s-m-i{
    padding: 11.25px 26px;
}

.s-m-i div {
    padding-left: 10px;    
}

.f-i{
    height: 26px;
    max-height: 30px;
    width: auto;
}



/* XSmall devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    nav div div div{
        display: none;
    }

    #navbarNavAltMarkup2{
        display: none;
    }
    /**/
    .calendario-c{
        width: 100%;
        height: 500px;
        margin-bottom: 16px;
    }

    .calendario{
        width: auto;
        height: 100%;
    }

    /* */

    #ftcsArrowContainer{
        padding: 0px;
        height: 0px;
    }

}

/* navbarNavAltMarkup media tag especial*/ 
/* No usar al menos de que sea para este elemento*/
@media screen and (min-width: 767.1px){
    .nNAM2{
        display: none;
    }
}

/* Small devices (tablets, 768px and up)*/
@media (min-width: 576.001px) and (max-width: 768px) { 
    nav div div div{
        display: none;
    }

    #navbarNavAltMarkup2{
        display: none;
    }

    /**/
    .cotLbls{
        width: 100%;
        color: white;
    }

    .cotInput{
        width:100%;
        margin-bottom: 16px;
    }

    .calendario{
        width: 100%;
        height: 500px;
        background-color: grey;
        margin-bottom: 16px;
    }

    .cot-serv-btn{
        transform: translate3d(0px, 58px, 0px) !important;
        width: 100%;
    }

    .cot-serv-cant-btn{
        transform: translate3d(0px, 58px, 0px) !important;
        left: -105px !important;
        width: 100%;
    }

    #cont-serv-cant-text{
        width: 100%;
    }

    .cot-s{
        visibility: collapse;
        height: 0px;
    }

    .cot-s1{
        visibility: visible;
        height: 38px;
    }

    .cot-new-serv-add{
        padding: 5px 0px;
        margin: 16px 0px;
        background-color: white;
        color: #2699FB;
    }

    /* */


}

/* Medium devices (desktops, 992px and up)*/
@media (min-width: 768.001px) and (max-width: 992px) {
    html,body{
        height: 100%;
        padding-bottom: 0px;
    }

    .n-o-c-i{
        padding-right: 30px;
    }
    
    .nNAM2{
        display: none;
    }

    .m-ns-sc1{
        padding-bottom: 26px;
    }

    /**/
    .d-md-flex{
        margin-bottom: 26px;
    }

    .calendario-c{
        padding-left: 26px;
    }
    /**/

    /* footer arrow*/
    #ftcsArrowContainer{
        padding-left: 29.65px;
        padding-right: 0px;
    }

    #ftcsArrowContainer button{
        height: auto;
        max-width: 26px;
    }

    #ftcsArrow{
        max-width: 26px;
    }
}

/* large devices (large desktops, 992px to 1200px)*/
@media (min-width: 992.001px) and (max-width: 1200px){
    html,body{
        height: auto !important;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .nNAM2{
        display: none;
    }

    .m-ns-sc2{
        padding-left: 26px;
    }
    
    .modal-backdrop, .fade .show {
        opacity: 100%;
        position: static;
        background-color: transparent;
        transition: none;
        overflow: auto;
    }

    body{
        
        max-width: none;
    }

    .modal-open{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #n-ns-sc1{
        transition: all 1s ease-in-out 0s;
    }

    /* */ 
    .d-md-flex{
        margin-bottom: 26px;
    }

    .calendario-c{
        padding-left: 26px;
    }    

    .col-xl-3{
        display: block
    }
    /* */

    #ftcsArrowContainer{
        padding-left: 49.6px;
        padding-right: 0px;
    }

    #ftcsArrowContainer button{
        height: auto;
        max-width: 26px;
    }

    #ftcsArrow{
        max-width: 26px;
    }

}

/* extra large devices (extra large desktops, 1200px and up)*/
@media (min-width: 1200px){
    html,body{
        height: 100%;
        padding-bottom: 0px;
    }
    /**/
    .calendario-c{
        padding-left: 26px;
    }

    .calendario{
        background-color: yellow;
    }
   
    .col-xl-3{
        margin-left: 26px;
    }

    .col-xl-4{
        margin-left: 26px;
    }

    

    /**/

    #ftcsArrowContainer{
        padding-left: 64.65px;
        padding-right: 0px;
    }

    #ftcsArrowContainer button{
        height: auto;
        max-width: 26px;
    }

    #ftcsArrow{
        max-width: 26px;
    }
} 
