/* Tag adjustments*/ 
html, body{
    width: auto;
    height: auto; /*Change for size change in height*/
    min-height: 650px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-bottom: 26px;
    transition: all 1s ease-in-out 0s;
}

header{
    width: auto;
    height: 0px;
}

nav{
    width: 100%;
    flex: 0 1 70px;
    background-color: #2699FB;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    transition: all 1s ease-in-out 0s;
    display: flex;
    border-top: #ffffff solid 0px;
    border-bottom: #ffffff solid 10px;
    min-width: 220px;
}

main{
    width: auto;
        min-width: 220px;
    flex: 1 1 auto;
    background-color: transparent;
    position: static;
    padding: 26px;
    transition: all 1s ease-in-out 0s;
}

section {
    width: 100%;
    height: auto;
    background-color: transparent;
    transition: all 1s ease-in-out 0s;
    min-width: 220px;
}

footer{
    width: auto;
    flex: 0 1;
    background-color: #7FC4FD;
    min-width: 220px;

}

div{
    padding: 0px
}

button{
    min-width: 100%;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    color: #ffffff;
}

figure{
    margin: 0px;
}

img{
    width: 100%;
    height: 100%;
}

/* Bootstrap class adjustments*/
.container{
    width: auto;
        min-width: 220px;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-image: url("/Assets/IS-Background.png");
        background-repeat: repeat;
        background-size: cover;
        background-position: left;
    transition: all 1s ease-in-out 0s;
    
}

.py-4{
    padding: 0px !important;
}

.row, .col-lg-6, .col-6, p, .col-12, .col-lg-12, .col-sm-4{
    padding: 0px;
    margin: 0px;
    position: static;
}

.nav-link{
    padding: .25rem .5rem !important;
}

.col-md-1{
    visibility: visible;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-backdrop.show{
    opacity: .8;
}
.modal-dialog-centered{
    align-items: flex-start;
}

.w-100{
    max-height: 600px;
}

/* navbar - main logo - container*/
.n-ml-c{
    padding: 2.5px 40px 2.5px 26px;
    transition: all 1s ease-in-out 0s;
    opacity: 100%;
}

/* navbar- main logo - container - image*/
nav div button img{
    max-height: 65px;
    
}

/* navbar - options - contianer*/
.n-o-c{
    display: flex;
    transition: all 1s ease-in-out 0s;
    opacity: 100%;
}

/* navbar - options - container - items*/
.n-o-c-i{
    padding-right: 40px ;
}

/* navbar - menu - container*/
.n-m-c{
    padding-right: 26px;
}

/* navbar - icons*/
.n-i{
    height: 18px;
}

/* navbar - dropdown - search - container*/
.n-d-s-c{
    height: 25px;
    padding-left: 15px !important;
    padding: 4px 0px;
    border-radius: 20px;
    border: none;
}

/* navbarNavAltMarkup list items container*/
#navbarNavAltMarkup{
    position: absolute;
    margin-top: 70px;
    background-color: #2699FB;
    width: 100%;
}

/* navbarNavAltMarkup list items*/
#navbarNavAltMarkup div a{
    color: #ffffff;
}

/* main - container*/
#m-c{
    position: static;
}

/* nuestros servicios - service card */
.sc{
    min-height: 373px;
    min-width: 188px;
    margin-bottom: 26px;
}

.sc-i{
    height: 200px;
    width: -moz-available;
}

.sc-i img{
    width: -moz-available;
    height: 100%;
    border: none;
}

.sc-t{
    height: 173px;
    width: auto;
    background-color: white;
    padding: 16px;
}

.sc-t-header{
    height: 23px;
    background-color: transparent;
    margin-bottom: 16px;
}

.sc-t-name{
    height: 23px;
    width: 100%;
    background-color: transparent;
    margin-bottom: 16px;
}

.sc-t-icon{
    max-width: 23px;
    min-width: 23px;
    min-height: 23px;
    max-height: 23px;
}

.sc-t-body{
    height: 72px;
    width: 100%;
    background-color: transparent;
}

.sc-t-link{
    height: 23px;
    width: 100%;
    margin-top: 7px;
}

.sc-modal{
    color: black;
    min-width: auto;
    padding: 0px 5px;
}

.modal-content{
    height: 100%;
    background-color: white;
    border-radius: 0px;
}

.sc-x-modal{
    visibility: collapse;
}

.sc-x-modal-sm{
    visibility: collapse;
}

.sc-x-modal-md{
    visibility: collapse;
}

.sc-x-modal-l{
    visibility: collapse;
}

.sc-x-modal-xl{
    visibility: collapse;
}















/* footer - contenedor - superior*/
.ft-c-s{
    width: auto;
    height: auto;
    background-color: #7FC4FD;
    transition: all 1s ease-in-out 0s;
    margin: 26px;
    font-size: small;
    color: #ffffff;
}

/* header superior - h5 */
.hs{
    margin: 1rem 0rem;
}

.hs h6{
    width: 100%;
    margin: .5rem 0rem;
}

/* header superior - p*/
.hs p{
    padding-top: 10px;
}

/* .ft-c-s .dir*/
.dir{
    
    width: 100%;
}

/* .ft-c-s .db-num*/
.db-num{
    padding-top: 30px;
}

#ftcsArrowContainer{
    height: auto;
}

#ftcsArrowContainer button{
    height: 0px;
    max-width: 26px;
}

#ftcsArrow{
    max-width: 26px;
    height: auto;
}


/* footer - contenedor - inferior*/
.ft-c-i{
    width: auto;
    height: 50px;
    background-color: #2699FB;
    transition: all 1s ease-in-out 0s;
}

.s-m-i{
    padding: 11.25px 26px;
}

.s-m-i div {
    padding-left: 10px;    
}

.f-i{
    height: 26px;
    max-height: 30px;
    width: auto;
}



/* XSmall devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    nav div div div{
        display: none;
    }

    #navbarNavAltMarkup2{
        display: none;
    }

    .m-ns-sc1{
        padding-bottom: 26px;
    }

    .ci{
        height: 200px;
        width: auto;
        background-position: center;
        background-size: cover;
    }

    .cci{
        background-position: top !important;
    }

    .col-md-1{
        visibility: hidden;
    }

    #sc-c{
        min-width: 100%;
    }

    .m-s{
        padding: 80px 26px 26px 26px !important;
    }

    .sc-x-modal{
        visibility: visible;
    }

    .sc-x-modal-vp{
        padding-top: 26px;
    }

    .sc-x-modal-is{
        padding: 16px;
    }

    .sc-x-modal-cot{
        padding: 0px 16px 16px 16px;
    }

    .sc-x-modal-cot-btn{
        background-color: #2699FB;
        padding: 5px 0px;
    }
    
    .sc-x-modal-is-header{
        margin-bottom: 16px;
    }

    .sc-x-modal-is-descripcion{
        margin-bottom: 26px;
    }

    .sc-x-modal-is-info-adicional{
        /*pendiente de ver que informacion agregar*/
        margin: 16px 0px;
    }






    #ftcsArrowContainer{
        padding: 0px;
        height: 0px;
    }

}

/* navbarNavAltMarkup media tag especial*/ 
/* No usar al menos de que sea para este elemento*/
@media screen and (min-width: 767.1px){
    .nNAM2{
        display: none;
    }
}

/* Small devices (tablets, 768px and up)*/
@media (min-width: 576.001px) and (max-width: 768px) { 
    nav div div div{
        display: none;
    }

    #navbarNavAltMarkup2{
        display: none;
    }

    .m-ns-sc1{
        padding-bottom: 26px;
    }

    .ci{
        height: 200px;
        width: auto;
        background-position: center;
        background-size: cover;
    }

    .cci{
        background-position: top;
    }

    .col-md-1{
        visibility: hidden;
    }
}

/* Medium devices (desktops, 992px and up)*/
@media (min-width: 768.001px) and (max-width: 992px) {
    .n-o-c-i{
        padding-right: 30px;
    }
    
    .nNAM2{
        display: none;
    }

    .m-ns-sc1{
        padding-bottom: 26px;
    }
    
    .ci{
        height: 300px;
        width: auto;
        background-position: center;
        background-size: cover;
    }

    .cci{
        background-position: top !important;
    }

    /* nuestros servicios - service card - 1 a 12 */
    #sc-1, #sc-3, #sc-5, #sc-7, #sc-9, #sc-11{
        padding-right: 13px;
    }
    
    #sc-2, #sc-4, #sc-6, #sc-8, #sc-10, #sc-12 {
        padding-left: 13px;
    }


    /* footer arrow*/
    #ftcsArrowContainer{
        padding-left: 29.65px;
        padding-right: 0px;
    }

    #ftcsArrowContainer button{
        height: auto;
        max-width: 26px;
    }

    #ftcsArrow{
        max-width: 26px;
    }
}


/* Codigo pendiente de agregar */
/* Usar etsto para la flecha en mediano*, grande y extra grande
            <div class="col-md-1" id="ftcsArrowContainer">
                <button>
                    <img id='ftcsArrow 'src="/Assets/F-Up arrow.svg">
                </button>
            </div>


    *********mediano puede variar********
*/








/* large devices (large desktops, 992px to 1200px)*/
@media (min-width: 992.001px) and (max-width: 1200px){ 
    .nNAM2{
        display: none;
    }

    .m-ns-sc2{
        padding-left: 26px;
    }
    
    .c{
        margin: 0px;
        padding: 26px;
        background-color: transparent;
    }

    .ct{
        background-color: #ffffff;
    }

    .ci{
        height: 200px;
        width: auto;
        background-position: center;
        background-size: cover;
    }

    .cci{
        background-position: top;
    }

    .modal-backdrop, .fade .show {
        opacity: 100%;
        position: static;
        background-color: transparent;
        transition: none;
        overflow: auto;
    }

    body{
        
        max-width: none;
    }

    .modal-open{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #n-ns-sc1{
        transition: all 1s ease-in-out 0s;
    }


    /* nuestros servicios - cartas de servicio - 1 a 12 */
    #sc-1, #sc-3, #sc-5, #sc-7, #sc-9, #sc-11{
        padding-right: 13px;
    }
    
    #sc-2, #sc-4, #sc-6, #sc-8, #sc-10, #sc-12 {
        padding-left: 13px;
    }
    

    #ftcsArrowContainer{
        padding-left: 49.6px;
        padding-right: 0px;
    }

    #ftcsArrowContainer button{
        height: auto;
        max-width: 26px;
    }

    #ftcsArrow{
        max-width: 26px;
    }

}

/* extra large devices (extra large desktops, 1200px and up)*/
@media (min-width: 1200px){
    #sc-1, #sc-4, #sc-7, #sc-10 {
        padding-right: 13px;
    }
    
    #sc-2, #sc-5, #sc-8, #sc-11{
        padding-left: 13px;
        padding-right: 13px;
    }

    #sc-3, #sc-6, #sc-9, #sc-12{
        padding-left: 13px;
    }


    #ftcsArrowContainer{
        padding-left: 64.65px;
        padding-right: 0px;
    }

    #ftcsArrowContainer button{
        height: auto;
        max-width: 26px;
    }

    #ftcsArrow{
        max-width: 26px;
    }
} 